{
# Max number of days to retain a user's IP address.
  maxUserIPAge => 90,

# Max number of days to retain log entries.
  maxLogAge => 180,

# Max number of days to retain IPInfo entries.
  maxIPInfoAge => 365,

# Rediect point for invalid HTTP requests
  notFoundUrl => "http://www.lostinspace.com/404.html",

# This directory where saya was installed
  sayaPath => "/opt/saya",

# Database connection information for Saya data
  sayaDSN => "dbi:SQLite:dbname=/home/saya/data/data.db",
  sayaUser => "",
  sayaPass => "",

# Optional: Used by updateDiscourseUsers.pl
# Database connection information for the user's forum (read-only)
  forumDSN => "dbi:Pg:dbname=discourse;host=127.0.0.1;port=1999",
  forumUser => "saya",
  forumPass => "password",

# Optional: Used by generateProbeUrl.pl and probe generator
  logURL => "http://yoursite.com/log.pl"

}
